@media(max-width:1050px) {

      

}
@media(max-width:991px) {




}
@media(max-width:767px) {


}

@media(max-width:575px) {

}


@media(max-width:453px) {

}


@media screen and (min-width: 62em){
.investorLogoBar .investorLogoBarInner>.investorBox:nth-child(odd) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    margin-top: 2.5rem;
}



}